extends ../layout

block content
	.container
		.row
			.col-md-7
				embed(src="#{movie.flash}", allowFullScreen="true", quality="high", width="720", height="600", align="middle", type="application/x-shockwave-flash")
			.col-md-5
				.dl-horizontal
					dt Name
					dd= movie.title
					dt Director
					dd= movie.director
					dt Country
					dd= movie.country
					dt Lang
					dd= movie.lang
					dt Year
					dd= movie.year
					dt Summary
					dd= movie.summary